<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FFAlarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <FFAlarm.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OKSaveTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="NGSaveTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CheckIN" serializeAs="String">
                <value>X0</value>
            </setting>
            <setting name="OKOut" serializeAs="String">
                <value>Y0</value>
            </setting>
            <setting name="NGOut" serializeAs="String">
                <value>Y1</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>1000</value>
            </setting>
        </FFAlarm.Properties.Settings>
    </userSettings>
</configuration>
