<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <!--错误日志类-->
    <logger name="logerror">
      <!--日志类的名字-->
      <level value="ALL" />
      <!--定义记录的日志级别-->
      <appender-ref ref="ErrorAppender" />
      <!--记录到哪个介质中去-->
    </logger>
    <!--信息日志类-->
    <logger name="loginfo">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <!--错误日志附加介质-->

    <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志输出到exe程序这个相对目录下-->
      <param name="File" value="Log\\LogError\\" />
      <!--输出的日志不会覆盖以前的信息-->
      <param name="AppendToFile" value="true" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="30" />
      <!--当个日志文件的最大大小-->
      <param name="MaxFileSize" value="30240" />
      <!--是否使用静态文件名-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--文件创建的方式，这里是以Date方式创建-->
      <param name="RollingStyle" value="Date" />
      <!--立即写磁盘-->
      <param name="ImmediateFlush" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--错误日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d 程序运行时间:%r毫秒 %n线程ID:%t 行号:%L %n对象名称:%c %n日志级别:%p %n文 件 名:%F %n日志消息:%m
               %n-----------------------------------------%n%n" />
      </layout>
    </appender>
    <!--信息日志附加介质-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="30240" />
      <param name="MaxSizeRollBackups" value="30" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <param name="ImmediateFlush" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--信息日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%d 程序运行时间:%r毫秒 %n线程ID:%t 行号:%L %n对象名称:%c %n日志级别:%p %n文 件 名:%F %n日志消息:%m
               %n-----------------------------------------%n%n"  />
      </layout>
    </appender>
  </log4net>
</configuration>