<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="stepSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="camSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="matchingSettings" type="System.Configuration.DictionarySectionHandler"/>
    <section name="testItemSettings" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <stepSettings>
    <add key ="cam" value ="1"/>
    <add key ="imagePreprocess" value ="0"/>
    <add key ="matching" value ="1"/>
    <add key ="testItem" value ="1"/>
  </stepSettings>
  <camSettings>
    <add key ="ExposureTime" value ="50000"/>
  </camSettings>
  <matchingSettings>
    <add key ="type" value ="形状模板定位"/>
  </matchingSettings>
  <testItemSettings>
    <add key ="type" value ="区域筛选计数"/>
  </testItemSettings>
  <appSettings>
    <add key = "userName" value = "abc"/>
  </appSettings>
</configuration>